
.fonts {
  
  /* color: #629dad; */
  font-weight: 500;
  font-size: 14px;
}
.logo-weight{
 
  font-weight: 800;
  font:bolder;
  /* color: #629dad; */
}

.btn-width{
 
  font-weight: 900;
}
.nav-link {
  position: relative;
  transition: 0.4s;
  justify-content: center;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(#5540f6c1,rgba(37, 108, 251, 0.583));
  transition: 0.4s;
  justify-content: center;
}

.nav-link:hover {
  color: linear-gradient(#7461fec1,rgba(42, 149, 255, 0.583))!important;
}
.nav-link:hover.nav-link::after {
  width: 100%;
}

.megacolor {
  background: rgb(243, 216, 250) !important;
}
