





.icn{
    display: inline-block;
    height:40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height:40px;
    border-radius: 50%;
    background-color: rgb(64, 62, 62);
    transition:all 0.5s ease;
    color: #f0f2fa;
}
.icn:hover{
    color: #f0f2fa;
    background: linear-gradient(#7461fec1,rgba(42, 149, 255, 0.583));
}

.footer-link{
   
    font-size: 15px;
    font-weight: 500; 
}

.btn-col{
    background: linear-gradient(#7461fec1,rgba(42, 149, 255, 0.583));
   
    font-size: 13px;
    font-weight: 500;
}
.logoweight{
   
    font-weight: 600;  
}
.btn-col:hover{
    background-color: #1d4ed8;
   
    font-size: 13px;
    font-weight: 200;
}

.foter-text{
   
    font-weight: 300;
}