* {box-sizing: border-box;}

/* Style the input container */
/* .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

} */

/* Style the form icons */
.icons {
  
 
  background-color:#E6EBFF;
 
  
}

.login{
  background: linear-gradient(rgba(69, 77, 82, 0.5), rgba(64, 84, 87, 0.4)),
  url("https://i.ibb.co/5598mFT/9738787-165911678176-2.jpg") no-repeat center center;
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
}

.bootom{
  border-bottom:1px solid #EEEEEE;
}

.sign-heading{
    margin-left: 27%;
}

.sign-m{
    margin-left: 6%;
    margin-right: 6%;
}

/* Style the input fields */
/* .input-field {
  width: 100%;
  padding: 10px;
  outline: none;
} */


.inputs{
    border: none;
 
}

input::after{
    border: none;
 
}

.text-border{
    /* text-decoration:none; */
   text-decoration: dotted;
}

